.dropdown {
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  background-color:rgb(69, 37, 242);
  color: white;
  position: absolute;
  top:45px;
  z-index: 100;
  width: 100%;
  
}


.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid #E5E8EC;
  display: none;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
}


.dropdown-item:hover {
  cursor: pointer;
  background-color: rgb(69, 37, 242, 0.5);
  color: black
}



.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}