.react-pdf__Page__canvas {
	margin: 0 auto;
	width: 50% !important;
	height: 40% !important;
}

.main-container{
	width: 80%;
}
.main-components{
	display:flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

h1{
	margin-bottom: 50px;
}