/* .App {
  text-align: center;
} */

*{
  box-sizing: border-box;
}
.form-con{
  display: flex;
  justify-content: center;
}

.form {
  min-height: 100vh;
  width: 40%;  
}

.neuesprojekt-return{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.pr-page{
  font-size: 23px;
  font-weight: 700;
}

label{
  font-weight: 600;
}

input{
  border-radius: 50px;
  border: none;
  background-color:	#F8F8F8;
  padding-left: 16px;
  margin-top: 7px;
}
.input-white{
  background-color:	#FFF;
  height: 40px;
  width: 90%;
}

.input-gesamtmenge{
  width: 20%;
}

.main-con{
  margin-top: 30px;
}

.input{
  height: 40px;
  width: 70%;
}

.pal-medium, .versionen-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.versionen-input{
  margin-top: 10px;
  width: 90%;
}

.cm-style{
  width: 90%;
  height: 200px;
  padding: 20px;
  margin-top: 7px;
  border-radius: 10px;
  border: none;
  background-color:	#FFF;
  padding-left: 16px;
  resize: none;
} 

.beleg-input,
.versionierung-input,
.versandmenge-input{
  height: 40px;
  width: 100%;
}


/********medium*********************************/
.versandmenge{
  width: 60%;
} 

.medium{
  background-color: #F2F4F8;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left:10px;
  padding-bottom: 16px;
} 

.medium-first{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.versandmenge{
  width: 20%;
}
.versionierung{
  width: 50%;
}




.btn-con{
  margin-bottom: 80px;
}


.gesamtmenge input{
  height: 40px;
}


/******************buttons**************/
.btn-add-version,.btn-add-medium{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-color: transparent;

}

.btn-upload{
  background-color: rgb(69, 37, 242);
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/************************ file ************************/
.file-detail{
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}
.file-detail-name{
	display: flex;
	align-items: center;
}
.file-detail-delete{
	cursor: pointer;
}

/*******************+ speichern und wegwerfen*****************/
.pr-speichern{
  /* width: 130px; */
  margin-right: 15px;
  border-radius: 17px;
  border: none;
  background-color: rgb(69, 37, 242);
  color: white;
  padding: 13px 23px;
  cursor: pointer;
}

.verwerfen{
  border-radius: 17px;
  border: none;
  background-color: #F8F8F8;
  color: rgb(69, 37, 242);
  padding: 13px 23px;
  font-weight: 700;
  cursor: pointer;
}


/***************versionen**********************/
.versionen{
  width: 100%;
}

.cm-style{
  width: 90%;
  height: 200px;
  padding: 20px;
  margin-top: 7px;
  border-radius: 10px;
  border: none;
  background-color:	#FFF;
  padding-left: 16px;
  resize: none;
} 